spring:
  application:
    name: assign

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/assign?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: false
