spring:
  datasource:
    url: jdbc:mysql://localhost:3306/assign?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useUnicode=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: false
